












<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group input-group-lg mb-3">
      <input type="text" class="form-control heading" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Title..." placeholder="Title..." [(value)]="title" (input)="handleTitleChange($event)">
    </div>
   
<div *ngFor="let section of blog;let headingIndex=index">
<div class="input-group input-group-sm mb-2">
  <input type="text" class="form-control content-subheading" aria-label="Large" aria-describedby="inputGroup-sizing-lg" placeholder="New Sub heading here..." [(value)]="section.heading" id="heading{{headingIndex+1}}" (input)="headingChanged($event,headingIndex)">
</div>

<div class="input-group input-group-sm mb-2" *ngFor="let paragraph of section.content;let paraIndex= index">
    <input type="text" class="form-control content" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="New paragraph here..." [(value)]="paragraph" (keypress)="addParagraph($event,'heading'+headingIndex, paraIndex)" (input)="handleChangeParagraph($event,headingIndex, paraIndex)" id="paragraph{{paraIndex+1}}">
</div>
</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="createBlog()">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

